$primary-color: #ffffff; 
$secondary-color: #08fe90; 
$btn_border: #d0fdf2; 
$text-color: #393939;
$title_col:#6a6a6a; 
$sub_text_color: #979797;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;
$spacing-unit: 0.5rem;
$card_bg :#f7f2c7;
